<script type="text/javascript" th:src="@{/js/admin/Horyu.View.ApplicantList.min.js}"></script>

<div class="table-responsive">
    <table class="table applicant-list-table">
        <thead>
        <tr>
            <td>응모 일자</td>
            <td>이메일</td>
            <td>유튜브 닉네임</td>
            <td>아이피</td>
            <td>UserAgent</td>
            <td>핑거프린트</td>
            <td>중복 응모 여부</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="table-pagination" style="display: table; margin: 0 auto"></div>

<script th:inline="javascript">
    $(function() {
        var view = new Horyu.View.ApplicantList();

        view.init();
    });
</script>