<script type="text/javascript" th:src="@{/js/admin/Horyu.View.EventHistoryView.min.js}"></script>

<button type="button" class="btn btn-info" onclick="location.href='/admin/eventHistory/';">목록으로 돌아가기</button>

<div style="margin-top: 20px" th:include="view/component/companyGiftTable"></div>

<script th:inline="javascript">
    $(function() {
        var companyGiftData = /*[[${companyGiftData}]]*/[];
        var eventWinnerData = /*[[${eventWinnerData}]]*/[];

        var view = new Horyu.View.EventHistoryView({
            companyGiftData: companyGiftData,
            eventWinnerData: eventWinnerData
        });
        view.init();
    });
</script>