<script type="text/javascript" th:src="@{/js/admin/Horyu.View.EventHistory.min.js}"></script>

<div class="table-responsive event-history-table">
    <table class="table">
        <thead>
        <tr>
            <td>#</td>
            <td>이벤트 명</td>
            <td>이벤트 세부일정</td>
            <td>이벤트 상태</td>
            <td>이벤트 시작 시간</td>
            <td>이벤트 종료 시간</td>
            <td>이벤트 응모 수</td>
            <td>이벤트 결과 확인</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script th:inline="javascript">
    var eventList = /*[[${eventList}]]*/[];
    var applicantCountMap = /*[[${applicantCountMap}]]*/{};

    $(function() {
        var view = new Horyu.View.EventHistory({
            eventList: eventList,
            applicantCountMap: applicantCountMap
        });

        view.init();
    });
</script>