<link th:href="@{/css/apply.min.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/js/Horyu.View.Apply.min.js}"></script>

<div class="alert alert-info"
     th:if="${eventStatus == T(com.horyu1234.eventangel.constant.EventDetailStatus).OPEN or eventStatus == T(com.horyu1234.eventangel.constant.EventDetailStatus).ALREADY_END }">
    현재 <a id="applyCount" style="font-weight: bold;">0명</a>이 이벤트 응모를 하였습니다.
</div>

<div class="card bg-light">
    <div class="card-body">
        <div class="alert alert-primary">
            이벤트 응모 방법
        </div>

        <p class="step-text">1. 네이버 접속 후 "<strong>WD외장하드</strong>" 검색 (<a style="font-size: 14pt;"
                                                                          href="https://www.naver.com/"
                                                                          target="_blank">https://www.naver.com/</a>)
        </p>
        <img class="step-img" th:src="@{/img/WD외장하드_네이버_검색.png}"/>

        <p class="step-text">2. 네이버 쇼핑 영역에서 "<strong>WD My Passport</strong>" 클릭</p>
        <img class="step-img" th:src="@{/img/네이버_쇼핑_외장하드.png}"/>

        <p class="step-text">3. 상품 최저가 비교 화면에서 "<strong>WD 공식판매원</strong>" 클릭</p>
        <img class="step-img" th:src="@{/img/상품_최저가_비교_페이지.png}"/>

        <p class="step-text">4. 상품 상세 화면에서 아래로 스크롤</p>
        <img class="step-img" th:src="@{/img/상품상세페이지.png}"/>

        <div class="row">
            <div class="col-6">
                <p class="step-text">5. (PC) 이벤트 배너 클릭</p>
                <img class="step-img" th:src="@{/img/PC_배너.png}"/>
            </div>
            <div class="col-6">
                <p class="step-text">5. (모바일) 원본 보기 클릭 후 이벤트 배너 터치</p>
                <img class="step-img" th:src="@{/img/모바일_배너.jpg}"/>
            </div>
        </div>
    </div>
</div>

<div class="card" style="margin-top: 20px"
     th:if="${eventStatus == T(com.horyu1234.eventangel.constant.EventDetailStatus).OPEN}">
    <div class="card-header">도움을 주신 회사와 상품 목록</div>
    <div th:include="view/component/companyGiftTable"></div>
</div>

<div class="card" style="margin-top: 20px"
     th:if="${eventStatus == T(com.horyu1234.eventangel.constant.EventDetailStatus).ALREADY_END}">
    <div class="card-header">현재 당첨자 목록</div>
    <div class="card-body">
        <div class="alert alert-success">
            앞으로 있을 추첨 방송을 기대해주시기 바랍니다.
            <br/><br/>
            추첨 방송이 시작되면, 여기에도 당첨자 목록이 표시됩니다.
        </div>
    </div>
</div>

<div class="card" style="margin-top: 20px"
     th:if="${eventStatus == T(com.horyu1234.eventangel.constant.EventDetailStatus).LOTTERY}">
    <div class="card-header">현재 당첨자 목록</div>
    <div class="card-body">
        <div style="margin-top: 20px" th:include="view/component/companyGiftTable"></div>
    </div>
</div>

<script th:inline="javascript">
    var applyCount = /*[[${applyCount}]]*/0;
    var eventStatus = /*[[${eventStatus}]]*/'close';
    var eventStartTime = /*[[${eventStartTime}]]*/0;
    var eventEndTime = /*[[${eventEndTime}]]*/0;
    var companyGiftData = /*[[${companyGiftData}]]*/[];
    var eventWinnerData = /*[[${eventWinnerData}]]*/[];

    $(function () {
        var view = new Horyu.View.Apply({
            applyCount: applyCount,
            eventStatus: eventStatus,
            eventStartTime: eventStartTime,
            eventEndTime: eventEndTime,
            companyGiftData: companyGiftData,
            eventWinnerData: eventWinnerData
        });

        view.init();
    });
</script>