#main-container {
    margin-top: 20px;
    margin-bottom: 100px;
}

.hidden-input {
    visibility: hidden;
}

.invalid-feedback {
    font-size: 13pt !important;
}

.company-gift-table {
    min-width: 800px;
}

.company-gift-table td {
    vertical-align: middle;
}

.company-gift-table .company-cell {
    min-width: 300px;
}

.company-gift-table .gift-cell {
    min-width: 200px
}

.company-gift-table .event-winner-pending-cell {
    color: #9e9e9e !important;
}

.company-gift-table .event-winner-cell {
    color: #0043ff !important;
    font-weight: bold;
}

#copyright {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
    z-index: 1000;
}

.table-responsive {
    border-left: 1px solid #dddddd !important;
    border-right: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
}