<script type="text/javascript" th:src="@{/js/Horyu.View.Check.js}"></script>

<div class="card bg-light col-md-10 offset-md-1">
    <div class="card-body">
        <div class="alert alert-info">
            이벤트 응모 여부를 확인하실 수 있습니다.
        </div>
        <form id="checkForm" action="" method="post" accept-charset="utf-8">
            <div class="form-group">
                <label for="email" class="control-label">이메일</label>
                <input class="form-control" name="email" id="email"
                       placeholder="이메일을 입력해주세요."
                       data-parsley-trigger="change" data-parsley-required=""
                       data-parsley-type="email"
                       data-parsley-errors-container="#email-errors"/>
                <div class="invalid-feedback" id="email-errors"></div>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary">이벤트 응모 여부 확인</button>
        </form>
    </div>
</div>

<script th:inline="javascript">
    $(function() {
        var view = new Horyu.View.Check();

        view.init();
    });
</script>